<a id = "1.0"></a>
<p style="font-size:25px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>Docker</strong></p> 
<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Se virtualiza la aplicaci√≥n</strong></p> 
<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>

In [1]:
from pycaret.datasets import get_data
juice = get_data('juice')

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0

In [2]:
from pycaret.classification import *

In [3]:
exp_name = setup(data = juice,  target = 'Purchase')

In [4]:
lr = create_model('lr')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [5]:
create_api(lr, 'lr_api')

API successfully created. This function only creates a POST API, it doesn't run it automatically. To run your API, please run this command --> !python lr_api.py

In [7]:
file_path = "lr_api.py" 
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

print(content)

# -*- coding: utf-8 -*-

import pandas as pd
from pycaret.classification import load_model, predict_model
from fastapi import FastAPI
import uvicorn
from pydantic import create_model

# Create the app
app = FastAPI()

# Load trained Pipeline
model = load_model("lr_api")

# Create input/output pydantic models
input_model = create_model("lr_api_input", **{'Id': 302, 'WeekofPurchase': 240, 'StoreID': 2, 'PriceCH': 1.75, 'PriceMM': 1.9900000095367432, 'DiscCH': 0.0, 'DiscMM': 0.30000001192092896, 'SpecialCH': 0, 'SpecialMM': 1, 'LoyalCH': 0.43920600414276123, 'SalePriceMM': 1.690000057220459, 'SalePriceCH': 1.75, 'PriceDiff': -0.05999999865889549, 'Store7': 'No', 'PctDiscMM': 0.15075400471687317, 'PctDiscCH': 0.0, 'ListPriceDiff': 0.23999999463558197, 'STORE': 2})
output_model = create_model("lr_api_output", prediction='MM')


# Define predict function
@app.post("/predict", response_model=output_model)
def predict(data: input_model):
    data = pd.DataFrame([data.dict()])
    predictions = predict_model(model, data=data)
    return {"prediction": predictions["prediction_label"].iloc[0]}


if __name__ == "__main__":
    uvicorn.run(app, host="127.0.0.1", port=8000)

In [6]:
create_docker('lr_api')

Writing requirements.txt
Writing Dockerfile
Dockerfile and requirements.txt successfully created.
    To build image you have to run --> !docker image build -f "Dockerfile" -t IMAGE_NAME:IMAGE_TAG .

In [8]:
file_path = "Dockerfile" 
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

print(content)

FROM python:3.8-slim

WORKDIR /app

ADD . /app

RUN apt-get update     && apt-get install -y libgomp1     && apt-get clean

RUN pip install -r requirements.txt

EXPOSE 8000

CMD ["uvicorn", "lr_api:app", "--host", "0.0.0.0", "--port", "8000"]

In [9]:
file_path = "requirements.txt" 
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

print(content)

pycaret
fastapi
uvicorn
pydantic<2.0.0. # required for airflow

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p> 
<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>